# Single college GEOJSON

In this notebook I will create one GEOJSON file that contains all the points of the colleges in San Antonio.

In [4]:
import pandas as pd
import geopandas as gpd

In [6]:
# Import '../output/san_antonio/san_antonio_top_earning_majors.csv' with gpd.read_file()
sa_colleges_gdf = gpd.read_file('../output/san_antonio/san_antonio_top_earning_majors.csv')

In [8]:
# sa_colleges_gdf has one column titled "LATITUDE" and another titled "LONGITUDE". Combine all these points into a single column called "geometry" using the gpd.points_from_xy() function
sa_colleges_gdf['geometry'] = gpd.points_from_xy(sa_colleges_gdf['LONGITUDE'], sa_colleges_gdf['LATITUDE'])

# Drop the "LATITUDE" and "LONGITUDE" columns
sa_colleges_gdf = sa_colleges_gdf.drop(['LATITUDE', 'LONGITUDE'], axis=1)

# Save the GeoDataFrame as a GeoJSON file called '../output/san_antonio/san_antonio_top_earning_majors.geojson'
sa_colleges_gdf.to_file('../output/san_antonio/san_antonio_top_earning_majors.geojson', driver='GeoJSON')

## Noodles

In [15]:
san_antonio_college_shapes_gdf = gpd.read_file('../data/San-Antonio-Colleges-and-Universities_e1023d21-6289-48da-b4b7-ca30017da2b3_GeoJSON.geojson')

# # Filter san_antonio_college_shapes_gdf to only include rows where osm_id is equal to 593227006. Export the result to a new GeoDataFrame called trinity_college_gdf

trinity_college_gdf = san_antonio_college_shapes_gdf[san_antonio_college_shapes_gdf['osm_id'] == 593227006]

# Save trinity_college_gdf as a GeoJSON file called '../output/trinity_college_gdf.geojson'

trinity_college_gdf.to_file('../output/san_antonio/trinity_college.geojson', driver='GeoJSON')

trinity_college_gdf

,osm_id,isced_level,name,amenity,capacity,version,tags,changeset,timestamp,geometry
5,593227006,NaN,NaN,NaN,NaN,1.0,"{'name': 'Trinity University', 'amenity': 'uni...",59498518.0,2018-06-03 04:16:16,"POLYGON ((-98.48698 29.45868, -98.48605 29.458..."